.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 100vh;
  background: url('../../assets/image.png') no-repeat center center / cover;
  overflow: hidden;
}

.onboarding-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(
    to top,
    rgba(136, 136, 136, 1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  filter: blur(130px);
}

.text-container {
  width: 85%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  /* margin: 20px 0; */
}

.subtext {
  font-size: 16px;
  margin-bottom: 20px; /* Space before the progress bar */
}

.button-main {
  padding: 10px 30px;
  font-size: 18px;
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
